h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat-bold';
  font-size: 3rem;
}

h3{
  font-family: 'Montserrat-bold';
  font-size: 2rem;
}

body{
  font-family: 'Montserrat';
}

p{
  color: #8f8f8f;
}
/* Background-colors */

.bg-red{
  background-color: #ff4c68;
}

.bg-pink{
  background-color: #ef8172;
}

.bg-white{
  background-color: #fff;
}

/* Title  */

#title .container-fluid{
  padding: 7% 15%;
}

/* Brand */
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 3rem;
  font-weight: 400;
}

/* Navigation Bar */
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}

/* Navigation Bar Padding */
.navbar{
  padding: 0 0 4.5rem;
}

/* Download Button */
.download-button{

  margin: 3% 2% 10% 2%;
}
/* Title-Image */
.image{
  padding: 2rem 0;
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

/* Features */
#features{
  background-color: #fff;
  padding: 7% 15%;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* Awesome Fonts */
.feature-icon{
  color: #ef8172;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Hover */
.feature-icon:hover{
  color: #ff4c68;
}

.features-p{
  color: #8f8f8f;
  /* width: 70%;
  margin: auto; */
  padding: 5%;
  padding-top: 0;
}

/* Testimonials Section */
#testimonials{
  text-align: center;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 2%;
}

.carousel-item{
  padding: 7% 15%;
}

/* Press Section */
#press{
  text-align: center;
  color:
}

.press-image{
  width: 15%;
  margin: 20px 20px;
  padding-bottom: 3%;
}

/* Pricing Section */
#pricing{
  padding: 100px;
  text-align: center;
}

#pricing h2{
  font-family: 'Montserrat';
}

.price-item{
  padding: 5% 3%;
}

.card-header h3{
  font-size: 1.75rem;
}

/* Download Section */
#cta{
  padding: 5% 10%;
  text-align: center;
  color: #fff;
}

#cta h3{
  padding-top: 0;
  padding-bottom: 2%;
  font-size:3rem;
  line-height: 1.5;
  font-family: 'Montserrat-black';
}
